*{
padding: 0;
margin: 0;  
}
html,body{
  height: 100%;
  width: 100%;
}
.Nav{
  display:flex ;
  background-color: lightgreen;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;

}
.nav2{
  display: flex;
  gap: 30px;
}