*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color:#222;
    

}
.parent{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.card{
    height: 330px;
    margin-top: 10px;
    width: 280px;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 30px;
}
.card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.center h3{
    font-size: 18px;
    font-weight: 600;
}
.center h3 span{
    font-size: 10px;
    font-weight: 400;
    color: #8b8b8b;

}
.center .tag{
    display: flex;
    margin-top: 10px;
    gap: 5px;
}
.center .tag h4{
    font-size: 12px;
    font-weight: 400;
    background-color: #dadada;
    color: #111;
    padding: 3px 8px;
}

.center h2{
    font-size: 20px;
}
.top img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid black;
    padding: 2px;
}
.top button{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 4px 8px;
    font-size: 11px;
    border-radius: 5px;
    gap: 3px;
    background-color: transparent;
    color: #b1b1b1;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #b1b1b1;
    padding-top: 10px ;

}
.bottom button{
    background-color: #111;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    column-width: 600;

}
.bottom .h3{
    font-size: 17px;    
}
.bottom  p{
    font-size: 12px;
    color: #8b8b8b;
    font-weight: 400;
}