*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  height: 100%;
  width: 100%;
}
.Navbar{
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
}
.Links{
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}